<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @medium.category %>
</p>

<p>
  <b>Title:</b>
  <%= @medium.title %>
</p>

<p>
  <b>Start date:</b>
  <%= @medium.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @medium.end_date %>
</p>

<p>
  <b>Cost:</b>
  <%= @medium.cost %>
</p>

<p>
  <b>Copies:</b>
  <%= @medium.copies %>
</p>


<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
